# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# ML service
ml-service/venv/
ml-service/__pycache__/
ml-service/**/__pycache__/
ml-service/data/*.csv
ml-service/models/*.joblib
ml-service/models/*.json

.DS_Store